.menu-toggle { 
    min-height: 40px;
    min-width: 40px;
    display: flex;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    fill: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
      fill: var(--link-color);
      }}

.mobile-menu {
  position: fixed;
  background-color: var(--mainbackground);
  flex-direction: column;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: transform 250ms var(--timing-function),
  opacity 250ms var(--timing-function),
  visibility 250ms var(--timing-function);

  &.is-open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }}

.mobile-menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 100vw;
  // height: 100vh;
}

.mobile-nav {
  margin-top: 8px;

}

.mobile-nav__unit {
    margin-bottom: 32px;
}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--text-color);
    &:hover,
    &:focus {
     color: var(--link-color);

    transition: color 250ms var(---timing-function);}
}

.active-page {color: var(--link-color);}

.mobile-contact {
    margin-bottom: 32px;   
}

.mobile-contact__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color:var(--maintxt-color);
    text-decoration: none;

    &:hover,
    &:focus {
font-size: 34px;
    line-height: calc(40 / 34);
     color: var(--link-color);

    transition: font-size 250ms var(---timing-function),
                color 250ms var(---timing-function);
}
}
.mobile-soc {
    display: flex;
   margin-top: 64px;
 
}

.mobile-soc__item {
    padding: 0 10px;
    list-style: none;
    &:not(:last-child){
      border-right: 1px solid rgba(33, 33, 33, 0.2);
   }
}
.mobile-soc__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--link-color);
}

