.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 93px 15px;
    overflow-y: scroll;
   }}
    
   .modal {
    position: absolute;
    left: 50%;
    top: 43px;
    padding: 40px;
    transform: translate(-50%, -50%);
    min-width: 450px;
    background-color: var(--mainbackground);
    border-radius: 4px;
    overflow-y: scroll;
  
    transition: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);

    @media screen and (max-width: 767px) {
      transform: translateX(-50%);
    }
  
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 50%;
      top: 208px;
      width: 450px;
      transform: translateX(-50%) scale(1);
   }
   @media screen and (min-width: 1200px) {
    width: 528px;
   }}
  
   .backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scaleY(0);
   }
    
   .btn-close{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    fill:var(--logoblack)
   }
  
   .icon-close:hover,
   .icon-close:focus {
    fill:var(--active-button);
    transition: fill 250ms var(--timing-function);
   }
  
  .modal-title {  
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;
  @media screen and (min-width:1200px) {
    line-height: calc(23 / 20);
  }
  }
  
  .modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  }
  
  .modal-label {font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--maintxt-color);
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  }
  
  textarea {resize: none;}
  
  .client-form>.modal-form {position: absolute;}
  
  .modal-text {
    padding: 12px 16px;
    height: 120px;
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  margin-bottom: 25px;

     &:focus-within{
    outline: none;
    color: var(--logoblack);
    border: 1px solid  #2196F3;
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
   }
  }
  
  .modal-btn {
    padding: 10px 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  .modal-input-wrapper:focus-within{
    fill: var(--link-color);
    border: 1px solid  #2196F3;
    border-radius: 4px;
    transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  }
  
  .modal-input:focus-within{
    outline: none;
    color: var(--logoblack);
    transition: color 250ms var(--timing-function);
  }
  
  .icon-modal{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  .modal-input-wrapper{
    position: relative;
    display: block;
  }


   label.modal-mailing-label{
    display: flex;
  align-items: center;
  font-weight: 400;
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.03em;

@media screen and (min-width:1200px) {
  line-height: calc(24 / 14);
  font-size: 14px;
}

  &::before{
    width: 16px;
    height: 15px;
    content: " ";
    border: 2px solid var(--text-color);
    border-radius: 4px;
    margin-right: 7px;
  }
  }
  
  .modal-mailing-check:checked+label::before {
  background-color: var(--link-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  }
 
  .terms{ margin-left: 7px;}