.people {
    background-color: var(--background-comand);
  }
.people__list {
     gap: 30px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width:768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

.people__items {
    width: 100%;
    background: var(--mainbackground);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width:768px) {
      width: calc((100% - 30px) / 2);  
    }
    @media screen and (min-width:1200px) {
      width: calc((100% - 90px) / 4); 
    }
  }

  .people__image {
    width: 100%;
  }

.people__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
  
.people__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--maintxt-color);
  }
  .people-soc__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .people-soc__items {
    width: 44px;
    height: 44px;
  }
  
  .people-soc__items:not(:last-child)
   {margin-right: 10px;}
  
   .people-soc__link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color:var(--mainbackground);
    justify-content: center;
    align-items: center;
    fill:#AFB1B8;
    transition: fill 250ms var(--timing-function),
                background-color 250ms var(--timing-function);
   }
   .people-soc__link:hover,
   .people-soc__link:focus {
    fill: var(--lighttxt-color);
    background-color: var(--link-color);
    transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  
   }
   .people-soc__link:hover .people-soc__icons,
   .people-soc__link:focus .people-soc__icons{
    fill: var(--lighttxt-color);
    transition: fill 250ms var(--timing-function);
   }
  
  .people-soc__icons {
    fill: #AFB1B8;
  
  }
  