body {
    background-color: var(--background);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--maintxt-color);
  }