:root {
    --mainbackground: #ffffff;
    --darckbackground: #2f303a;
    --maintxt-color: #757575;
    --text-color: #212121;
    --lighttxt-color: #ffffff;
    --link-color: #2196f3;
    --logoblack: #000000;
    --background-comand: #f5f4fa;
    --active-button: #188ce8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }